.list-hours {
  font-size: 0.9rem;
  .list-hours-item {
    border-bottom: 1px solid fade-out($primary, 0.5);
    padding-bottom: .25rem;
    margin-bottom: 1rem;
    font-style: italic;
    &.today {
      font-weight: bold;
      color: $primary;
    }
  }
  @media(min-width: 992px) {
    width: 50%;
    font-size: 1.1rem;
  }
}

.address {
  strong {
    font-size: 1.2rem;
  }
}


.send-form {
  margin-bottom: 4%;

  .item-form {
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    width: 56%;
    padding: 7px 7px;

    input, textarea {
      z-index: 9 !important;
    }

  }

  #msg {
    min-width: 59%;
  }

  .btn-container {
    margin-top: 2%;

    button {
      overflow: hidden;
      border-width: 0;
      outline: none;
      border-radius: 2px;
      box-shadow: 0 0px 2px rgb(210, 151, 78);
      background-color: #e6a756;
      color: #ecf0f1;
      transition: background-color .3s;
      padding: 3px 12px;

      display: block;
      position: relative;
      cursor: pointer;
      margin: 0 auto;


    }
  }
}
